<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.themajorshome.pingtest</string>
	<key>Program</key>
	<string>/Users/majorsl/Scripts/GitHub/pingtest/pingtest.sh</string>
	<key>StartInterval</key>
	<integer>1800</integer>
</dict>
</plist>
